body {
  margin: 0;
  background-color: #f1f1f1;
}

.test-component center {
  padding: 50px;
  background-color: lightblue;
  max-width: 800px;
  margin: 50px auto 0;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 18px;
  border-radius: 4px;
  animation-name: AnimateUp;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.test-component h1 {
  font-size: 32px;
}

.test-component input {
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
}

.test-component img {
  border-radius: 4px;
  overflow: hidden;
  vertical-align: center;
  transition-duration: 750ms;
}

.test-component img:hover {
  transform: scale(1.025);
}

.test-component center,
.test-component input,
.test-component img {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transition-duration: 500ms;
}

.test-component center:hover,
.test-component input:hover,
.test-component img:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px, rgba(0, 0, 0, 0.12) 0px 2px 8px;
}

@keyframes AnimateUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
